<!DOCTYPE html>
<html>

<head>
    <title>Create fruit</title>
</head>

<body>
    <h2>Create fruit</h2>
    <form action="/fruits" method="POST">
        Name: <input type="text" name="name" /><br />
        Color: <input type="text" name="color" /><br />
        Is Ready To Eat:
        <input type="checkbox" name="readyToEat" />
        <br />
        <input type="submit" name="" value="Submit" />
    </form>


</body>

</html>