<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Fruits show page</h1>
        The <%=fruits.name; %> is  <%=fruits.color; %>.
        <% if(fruits.readyToEat === true){ %>
            It is ready to eat
        <% } else { %>
            It is not ready to eat
        <% } %>
        <nav>
            <a href="/api/fruitss/">Back to Fruits Index</a>
        </nav>
        jjjik
    </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show</title>
</head>
<body>
   
    <h1>Fruits show page</h1>
        The <%=fruits.name; %> is  <%=fruits.color; %>.
        <% if(fruits.readyToEat === true){ %>
            It is ready to eat
        <% } else { %>
            It is not ready to eat
        <% } %>
        <nav>
 
   <a href="/api/fruitss">back</a>
        </nav>
</body>
</html>